streamlit==1.30.0  # Specify the version you are using or leave it open for the latest version
pandas==1.3.3  # Specify the version you are using or leave it open for the latest version
matplotlib==3.4.3  # Specify the version you are using or leave it open for the latest version
