/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.header {
    background-image: url('backgroud.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    text-align: center;
    color: #fff;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin: 10px 0;
    max-width: 600px;
}

.catchphrase {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.get-started-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.get-started-button:hover {
    background-color: #45a049;
}
